@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
:root {
  --body-color : #5e5e5e;
  --primary-color: #17c0eb;
  --g-primary-color: #025c85;
  --primary-dark: hsl(34 100% 10%);
  --primary-accent: hsl(34 100% 20%);
  --primary-light: hsl(34 100% 25%);
  --mode-greydark: #262626;
  --mode-greylight: #474747;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--body-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Rajdhani', sans-serif;
  color: #fff!important;
}

a {
  color: var(--text-color);
  font-weight: 700!important;
}

a:hover {
  color: var(--primary-color);
  font-weight: 700!important;
  text-decoration: none;
}

.container-fluid {
  margin: 0!important;
  padding: 0!important;
}

.form-control {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

.form-control:focus{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

::placeholder {
  color: #9c9c9c !important;
  font-size: 14px;
  opacity: .5 !important;
}

.btn {
  width: auto;
  height: 35px;
  line-height: 18px!important;
  color: var(--text-color);
  font-size: 14px;
  border-radius: 3px;
}

.btn-main {
  background-color: var(--mode-greylight);
  font-weight: 700;
}

.btn-main:hover {
  background-color: var(--mode-greydark);
  color: var(--text-color);
  font-weight: 700;
}

.btn-secondaries {
  background-color: var(--primary-color);
  font-weight: 700;
}

.btn-secondaries:hover {
  background-color: var(--g-primary-color);
  color: var(--text-color);
  font-weight: 700;
}

/* Header */

.topMenu {
  background: var(--primary-accent);
  min-height: 60px;
  padding: 7px 3px;
  vertical-align: middle;
}

.topMenu ul.nav li.nav-item a.nav-link {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500!important;
}

.topMenu ul.nav li.nav-item a.nav-link:hover {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 700!important;
}

.topNav {
  background: var(--g-primary-color);
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
}

.topNav ul.nav li.nav-item a.nav-link {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 700!important;
  padding: 5px 13px;
}

.topNav ul.nav li.nav-item a.nav-link:hover {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 700!important;
}

/* Header */

/* Content */

.box_promo {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.box_promo .box_detail {
  display: none;
}

.box_promo:hover .box_detail {
  display: block;
}

.box_promo .box_detail {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0,0.5);
  width: 100%;
  padding: 8px;
}

.box_promo .box_detail h5{
  font-size: 16px;
  font-weight: 700;
}

.zoom {
  transition: transform .5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
}

section .gameList {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6,minmax(0,1fr));
}

section .gameListColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .gameListSlot {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5,minmax(0,1fr));
}

section .gameListSlotColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .gameListCasino {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5,minmax(0,1fr));
}

section .gameListCasinoColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .casinoList {
  column-count: 4;
  column-gap: 5px;
}

section .casinoListColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

/* Content */

/* Footer */

footer {
  background: var(--primary-dark);
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .foot_top {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
}

footer a {
  font-weight: 400!important;
}

footer a:hover {
  color: var(--primary-color);
  font-weight: 400!important;
}

footer h5.footTitle {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
}

.foot_icon {
  width: 64px;
  height: 64px;
  margin-bottom: 25px;
}

.foot_icon a img {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

/* Footer */

/* Component */

.main-content {
  position: relative;
  top: -10px;
  height: 100px;
}

.main-content .owl-carousel {
  height: 100px;
  margin-top: 5px;
}

div.owl-item .item {
  width: 100px!important;
}

.owl-theme .custom-nav {
  position: absolute;
  width: 100%;
  top: 3px;
  margin-top: 0 !important;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff!important;
}

.owl-prev, .owl-next {
  position: absolute;
  height: 100px;
  color: #fff!important;
  background: var(--ungu-color)!important;
  border: none;
  z-index: 100;

}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* Component */

/* Responsive */

@media (max-width: 480px) {

  section .gameList {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  section .gameListColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  section .gameListSlot {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  section .gameListSlotColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  section .gameListCasino {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }

  section .gameListCasinoColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .mobile section .casinoList {
    column-count: 3;
    column-gap: 5px;
  }

  .mobile section .casinoListColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .progressive-jackpot {
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-size: 100% 100%;
    filter: contrast(100%) hue-rotate(-22deg) grayscale(49%) saturate(1.4);
  }
  .progressive-jackpot > h2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: inline-block;
      outline: 0;
      box-sizing: border-box;
      border: none;
      border-radius: 0.3em;
      text-transform: uppercase;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(179 179 179 / 40%), inset 0 -2px 5px 1px rgb(0 0 0), inset 0 -1px 1px 3px rgb(151 151 151);
      background-image: linear-gradient(160deg, #424242, #595959, #787878, #4f4f4f, #000);
      border: 1px solid #000;
      color: #f5f5f5;
      font-weight: 700;
      text-shadow: 0 2px 2px rgb(0 0 0);
      transition: all 0.2s ease-in-out;
      background-size: 100% 100%;
      background-position: center;
      font-size: 16px;
      max-width: 290px;
      z-index: 5;
      letter-spacing: 0;
      margin: 0 auto;
      line-height: 1.5;
  }
  #jackpot {
      font-family: "Space Mono", monospace;
      background-image: linear-gradient(160deg, #fff, #515151, #f7f7f7, #dfdfdf, #fff, #575757, #e9e9e9);
      color: #fff;
      -webkit-background-clip: text;
  }
  .progressive-jackpot,.progressive-jackpot img{width:100%}
  .progressive-jackpot img{max-width:100%}
  .jackpot-wrapper{display:flex;vertical-align:middle;align-items:center}
  .jackpot-wrapper>span{position:absolute;width:100%;font-size:1rem!important}
  
}

/* Responsive */

/* Sidebar */

.sticky-left {
    position: fixed;
    top: 180px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9900;
  top: 100px;
  right: -15px;
  background: #1a0924;
  transition: 0.5s;
}

.sidenavTop {
  width: 100%;
  margin: 2px;
  padding: 5px;
}

.sidenav .sidebarMenuLeft {
  column-count: 4;
  column-gap: 2px;
}

.sidenav .sidebarMenuLeft .sidebarMenuLeftItem {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  width: 40px;
  margin-bottom: 10px;
}

.sidenavBottom {
  background: #071d2a;
  width: 100%;
  height: 100%;
}

.sidenav .side_navigation ul.nav.flex-column li.nav-item a.nav-link {
  background : none;
  color: #fff;
  font-size: .875rem;
  font-weight: 700;
  -webkit-transition: line-height 0.3s ease-in-out;
  transition: line-height 0.3s ease-in-out;
  border-bottom: 1px solid #343a40;
  padding: 1rem;
}

.sidenav .side_navigation ul.nav.flex-column li.nav-item a.nav-link:hover {
  background: rgb(253,208,23,0.3);
  color: #FFB302!important;
}


/* Sidebar */

/* Jackpot */

.progressive-jackpot {
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-size: 100% 100%;
    filter: contrast(100%) hue-rotate(-22deg) grayscale(49%) saturate(1.4);
}
.progressive-jackpot > h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    outline: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 0.3em;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(179 179 179 / 40%), inset 0 -2px 5px 1px rgb(0 0 0), inset 0 -1px 1px 3px rgb(151 151 151);
    background-image: linear-gradient(160deg, #424242, #595959, #787878, #4f4f4f, #000);
    border: 1px solid #000;
    color: #f5f5f5;
    font-weight: 700;
    text-shadow: 0 2px 2px rgb(0 0 0);
    transition: all 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    font-size: 16px;
    max-width: 290px;
    z-index: 5;
    letter-spacing: 0;
    margin: 0 auto;
    line-height: 1.5;
}
#jackpot {
    font-family: "Space Mono", monospace;
    background-image: linear-gradient(160deg, #fff, #515151, #f7f7f7, #dfdfdf, #fff, #575757, #e9e9e9);
    color: #fff;
    -webkit-background-clip: text;
}
.progressive-jackpot,.progressive-jackpot img{width:100%}
.progressive-jackpot img{max-width:100%}
.jackpot-wrapper{display:flex;vertical-align:middle;align-items:center}
.jackpot-wrapper>span{position:absolute;width:100%;font-size:3rem}

/* Jackpot */